.ForGotPasswordcontainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    top: 0%;
    left: 0;
}

.ForGotPasswordbox{
    height: 90vh;
    display: flex;
    box-shadow: 0 0 10px blueviolet;
}

.ForGotPasswordbox .img_box{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.ForGotPasswordbox .img_box img{
    width: 100%;
    height: 100%;
}

.ForGotPasswordbox .ForGotPasswordform_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ForGotPasswordbox .ForGotPasswordform_box h1,.ForGotPasswordbox .ForGotPasswordform_box h3{
    color: blueviolet;
    margin-top: -80px;
}

.ForGotPasswordbox .ForGotPasswordform_box img{
    width: 100px;
}

.ForGotPasswordbox .ForGotPasswordform_box .ForGotPasswordform{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -80px;
}

.ForGotPasswordbox .ForGotPasswordform_box .ForGotPasswordform .ForGotPasswordinput_box1{
    width: 80%;
    margin: 0px;
}

.ForGotPasswordbox .ForGotPasswordform_box .ForGotPasswordform .ForGotPasswordinput_box1 span{
    font-size: 20px;
    font-weight: bolder;
    color: blueviolet;
}

.ForGotPasswordbox .ForGotPasswordform_box .ForGotPasswordform .ForGotPasswordinput_box1 input{
    width: 100%;
    padding: 0.5vmax 1vmax;
    background-color: rgba(211, 211, 211, 0.445);
    color: blueviolet;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    outline: none;
}

.ForGotPasswordbtn{
    width: 80%;
    padding: 0.5vmax 2vmax;
    background-color: transparent;
    border: 2px solid blueviolet;
    color: blueviolet;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s;
}

.ForGotPasswordbtn:hover{
    background-color: blueviolet;
    color: white;
}

.s_o_f{
    width: 60%;
    display: flex;
    justify-content: center;
}

.s_o_f a{
    text-decoration: none;
    padding-bottom: 20px;
    color: blueviolet;
}