.my_profile_container{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.my_profile_box{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.my_profile_img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_profile_img > img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 0 0 10px blueviolet;
    transition: all ease-in-out 0.5s;
}

.my_profile_img > img:hover{
    transform: scale(1.1);
}

.my_profile_img > a{
    margin-top: 30px;
    color: blueviolet;
    font-weight: bolder;
    font-size: 1rem;
    transition: all ease-in-out 0.5s;
}

.my_profile_img > a:hover{
    color: blueviolet;
    transform: scale(1.2);
}

.my_profile_img > .button_done{
    margin-top: 40px;
    background-color: transparent;
    border: 3px solid blueviolet;
    outline: none;
    width: 20%;
    font-weight: bold;
    color: blueviolet;
    padding: 0.5vmax 1vmax;
    border-radius: 30px;
    transition: all 0.5s;
    visibility: hidden;
}

.my_profile_img > .button_done:hover{
    background-color: blueviolet;
    color: white;
}

.my_profile_content{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.my_profile_content > div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.my_profile_content > a{
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blueviolet;
    border-radius: 30px;
    padding: 1vmax 1vmax;
    font-weight: bold;
    color: blueviolet;
    transition: all 0.5s;
}

.my_profile_content > a:hover{
    color: white;
    background-color: blueviolet;
}

@media (max-width: 1000px) {
    .my_profile_container{
        font-size: 20px;
        margin-top: 10px;
        height: 90vh;
    }

    .my_profile_box{
        flex-direction: column;
    }

    .my_profile_img > img{
        width: 200px;
    }

    .my_profile_img > button{
        width: 50%;
    }

    .my_profile_content{
        width: 100%;
        margin-top: 20px;
    }

    .my_profile_content > div{
        text-align: center;
    }

    #user_email{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    .my_profile_container{
        height: 150vh;
    }

    .my_profile_content > div{
        margin-top: 20px;
    }

    .my_profile_content > a{
        margin-top: 20px;
    }
}