.greenColor{
    color: rgba(11, 141, 11, 0.936);
    font-weight: bolder;
}

.redColor{
    color: red;
    font-weight: bolder;
}

.backgroundRedColor{
    background-color: red;
}

.backgroundGreenColor{
    background-color: green;
}

#disable{
    cursor: not-allowed;
}

.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 70vh;
    color: white;
    font-family: futura;
    font-size: 3rem;
    background-color: blueviolet;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.visibilty_none{
    visibility: hidden;
}

@media screen and (max-width: 700px){
    .notFound{
        height: 75vh;
    }
}