.menu-ul {
    width: 200px;
    margin-top: 90px;
    margin-right: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 0 10px blueviolet;
    position: absolute;
    padding: 2px;
    z-index: 400;
    right: 0;
    border: 2px solid black;
}

.menu-ul>a>li {
    list-style-type: none;
    text-decoration: none;
    padding: 0.5vmax 2vmax;
}

.menu-ul>a {
    text-decoration: none;
    font-size: 20px;
    color: blueviolet;
}

.menu-ul>a>li:hover {
    background-color: blueviolet;
    color: white;
}